# BASE DE DONNEES RELATIONNELLE
db_name=nom_bdd
db_host=votre_serveur
db_port=votre_numéro_port
db_user=votre_user
db_password=votre_password

# BASE DE DONNEES NoSQL
MONGODB_URI=votre_serveur/port
MONGODB_DB=nom_bdd

#API BREVO
BREVO_API_KEY= *********